#!/bin/bash

if !(type "aqua" > /dev/null 2>&1); then
curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.2.0/aqua-installer | bash

export PATH=${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin:$PATH

export AQUA_GLOBAL_CONFIG=$(chezmoi source-path ~/.config/aqua.yaml)
fi

aqua i -l -a
