#!/bin/sh

{{- if .brew }}

echo | /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)" >>$HOME/.zshrc
source $HOME/.zshrc
{{- end }}

brew install curl git

{{ if eq .chezmoi.os "darwin" }}
brew install coreutils
{{ end }}

brew install asdf

{{ end }}
