zmodule environment
zmodule input
zmodule utility

zmodule zsh-users/zsh-syntax-highlighting

zmodule zsh-users/zsh-completions --fpath src

zmodule marlonrichert/zsh-autocomplete

{{- if .asdf }}
zmodule asdf
{{ end }}
