zmodule environment
zmodule input
zmodule utility

zmodule termtitle

# completion
zmodule zsh-users/zsh-completions --fpath src

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search

{{- if .asdf }}
zmodule asdf
{{ end }}
