[init]
  defaultBranch = main

[credential]
  helper = 
  helper = manager
{{ if eq .chezmoi.os "darwin" }}
  helper = /usr/local/share/gcm-core/git-credential-manager
{{ end }}
  useHttpPath = true

[user]
  email = 38714187+mouse484@users.noreply.github.com

[ghq]
  root = ~/src

[include]
  path = ./.local.gitconfig
